body {
    background: #bdd8eb;
}
img {
    width: 22%;
}
section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
    margin-bottom: 5rem;
}
.container {
    background-color: rgba(68, 77, 118, 0.473);
    color: rgba(255, 255, 255, 0.88);
    padding: 2rem;
    width: 30rem; 
    border-radius: 20px;
    box-shadow: 1px 1px 10px rgba(69, 87, 102, 0.859); 
    cursor: default;
}
p {
    line-height: 40px;
    font-size: 3rem;
    text-align: center;
}
span {
    font-size: 2rem;
    text-align: center;
}
.header input {
    outline: none;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 10px rgba(69, 87, 102, 0.232); 
    background-color: rgba(211, 211, 231, 0.952);
    padding: 10px;
}
.form-control:focus {
    color: rgb(27, 19, 72); 
    background-color: rgba(211, 211, 231, 0.952);
}
.header button, #submit {
    outline: none;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 10px rgba(69, 87, 102, 0.232); 
    background-color: rgba(230, 138, 195, 0.603);
    color: white;
    cursor: pointer;
}
.header button:hover, #submit:hover {
    background-color: rgba(217, 79, 164, 0.768);
    box-shadow: 1px 1px 10px rgba(69, 87, 102, 0.232); 
    transform: scale(0.99);
    opacity: 0.8;
}
#submit:hover{
    transform: scale(0.9);
    transition: transform 0.3s ease-in-out;
}   
#note{
    display: none;
    background-color: rgba(201, 98, 120, 0.37);
    border-radius: 20px;
    max-width: 80%;   
    margin: auto;
    font-size: 15px;
    line-height: 20px;
    padding: 10px 10px;
}
.form-filed {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    padding: 11px 0;
    border-bottom: 1px solid rgba(136, 110, 126, 0.281);
    font-size: 1.1rem;
    color: rgba(255, 255, 255, 0.88);
}
#pass-length {
    width: 15%;
    background-color: rgba(211, 211, 231, 0.952);
    border: none;
    color: rgba(20, 29, 42, 0.864);
}
.checkbox-color {
    background-color: rgba(240, 198, 242, 0.393);
}
@media only screen and (max-width: 400px) {  
    img {
        width: 30%;
        margin-bottom: -10px;
    }
    p {
        line-height: 25px;
        font-size: 30px;
    }
    span {
        font-size: 25px;
    }
    #pass-length {
        width: 20%;
    }
    .form-filed {
        padding: 5px 0;
        font-size: 1rem;
    }
}