* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: linear-gradient(to right, #b8cdd79b,#93c1d8d1,#48acde8e,#57a8d09d, #93c1d898,#b8cdd77d);
}
img {
    width: 25%;
}
section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10rem;
    margin-bottom: 10rem;
}
.container {
    background-color: rgba(147, 147, 208, 0.341);
    padding: 2rem;
    width: 30rem; 
    border-radius: 8%;
    box-shadow: 1px 1px 10px rgba(69, 87, 102, 0.859); 
}
.note{
    display: none;
    background-color: rgba(164, 113, 122, 0.379);
    color: rgba(213, 235, 245, 0.903);
    border-radius: 20px;
    max-width:80%;   
    margin: auto;
    font-size: 15px;
    line-height: 20px;
    padding: 10px 10px;
}
/* .p-header {
    position: relative;
} */
p {
    line-height: 40px;
    font-size: 3rem;
    text-align: center;
    color: rgba(232, 241, 245, 0.864);
}
span {
    font-size: 2rem;
    text-align: center;
    color: rgba(232, 241, 245, 0.864);
}
.p-header input {
    /* width: 100%; */
    /* height: 2rem; */
    padding: 10px;
    background-color: rgba(211, 211, 231, 0.952);
    outline: none;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 10px rgba(69, 87, 102, 0.232); 
}
.p-header button {
    /* position: absolute;  */
    /* bottom: 0; */
    /* right: 0; */
    /* padding:8px 15px; */
    outline: none;
    border: none;
    border-radius: 10px;
    background-color: rgba(224, 105, 178, 0.603);
    color: rgba(213, 235, 245, 0.864);
    cursor: pointer;
    box-shadow: 1px 1px 10px rgba(69, 87, 102, 0.232); 
}
.p-header button:hover {
    background-color: rgba(230, 186, 213, 0.603);
    color: rgb(65, 61, 61);
    box-shadow: 1px 1px 10px rgba(69, 87, 102, 0.232); 
    transform: scale(0.99);
    opacity: 0.8;
}
.form-filed {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    padding: 12px 0;
    border-bottom: 1px solid rgba(136, 110, 126, 0.281);
    font-size: 1.3rem;
    color: rgba(49, 53, 55, 0.864);    
}
#p-length {
    width: 15%;
    background-color: rgba(211, 211, 231, 0.952);
    border: none;
    color: rgba(5, 68, 91, 0.864);
}
.submit {
    width: 60%;
    font-size: 1.3rem;
    background-color: rgba(94, 40, 94, 0.445);
    color: rgba(213, 235, 245, 0.864);
    cursor: pointer;
    border: none;
    border-radius: 10px;
    transition: all 0.3s;
    outline: none;
    box-shadow: 1px 1px 10px rgba(69, 87, 102, 0.232); 
}
.submit:hover{
    background-color: rgba(225, 197, 225, 0.347);
    color: rgb(65, 61, 61);
    box-shadow: 1px 1px 10px rgba(69, 87, 102, 0.232); 
    transform: scale(0.9);
    transition: transform 0.3s ease-in-out;
    opacity: 0.8;
}   
.color {
    background-color: rgba(240, 198, 242, 0.393);
}
@media only screen and (max-width: 470px) {  
    img {
        width: 40%;
    }
}